{% extends "base.html" %}

{% load static %}

{% block title %} | Reset Password {% endblock title %}

{% block body %}
<div class="user-auth">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="col-md-12 user-auth-box" id="id_password_reset_box">
                    <form class="form" id="id_password_reset_form" action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        <h4 class="text-center text-header">Reset Password</h4>
                        <div class="form-group">
                            <label for="id_email" class="text-info">Email:</label><br>
                            <input class="form-control" type="email" autocomplete="on" autofocus="" name="email" required id="id_email">
                        </div>
                        {% if form.errors %}
                        <p class="text-danger"><i class="fa fa-exclamation-triangle fa_custom fa-1x"></i>
                            <small>
                                {% for v in form.errors.values %}
                                {{ v | first}}
                                {% endfor %}
                            </small>
                        </p>
                        {% endif %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-info">Send Instructions</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}