{% extends "base.html" %}

{% load static %}

{% block title %} | Email Sent {% endblock title %}

{% block body %}
<div class="user-auth">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="col-md-12 user-auth-box" id="id_password_reset_done_box">
                    <div id="id_password_reset_done_form">
                        <h4 class="text-center text-header">Check Your Inbox</h4>
                        <div class="alert alert-info" role="alert">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            We’ve emailed you instructions for setting your password. You should receive them shortly.
                        </div>
                        <div class="alert alert-info" role="alert">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}