{% extends "base.html" %}

{% load static %}

{% block title %} | Password reset complete {% endblock title %}

{% block body %}
<div class="user-auth">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="col-md-12 user-auth-box" id="id_password_reset_complete_box">
                    <div id="id_password_reset_complete_form">
                        <h4 class="text-center text-header">Password Reset Complete</h4>
                        <div class="alert alert-info" role="alert">
                            Your password has been set successfully. You may go ahead and log in now.
                        </div>
                        <div class="form-actions">
                            <a class="btn btn-info" href="{% url 'login' %}"> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}